// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.book-index{

}

.index-1{
  margin-left :50px;
  float :left;
}

.index-2{
  margin-left :50px;
  float :left;
}

.index-3{
  margin-left :50px;
  float :left;
}

.index-ki{
  margin-bottom: 0px;
}

.index-ul{
  display :flex;
}

.index-p-1{
  margin-left: 0px;
  color: #000000;
  margin-bottom: 0px;

}

.index-p{
  margin-left: 20px;
  color: #000000;
  margin-bottom: 0px;
}

.index-4{
  float :none;
  position: absolute;
    top: 300px;
    display:block;
}