// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.head{
  height :300px;
  width :100%;
}

.top {
  text-arign :center;
  width :70%;
  height :100px;
  margin-top :50px;
}